.c-container {
  justify-content: space-around;
  gap: 1rem;
}

.c-container > img {
  width: 9rem;
}

.c-head {
  margin-top: 1.5rem;
}

.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  position: relative;
}

.marquee {
  display: flex;
  align-items: center;
  animation: marquee 10s linear infinite;
}

.marquee img {
  height: 50px; 
  margin: 0 15px; 
  object-fit: cover;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .marquee img {
    height: 50px; 
    margin: 0 10px;
  }
}

@media (max-width: 480px) {
  .marquee img {
    height: 40px; 
    margin: 0 5px;
  }
}
