.About-2-v-container .About-2-image-container{
    width:35rem;
    height:35rem;
    overflow: hidden;
    border-radius: 3rem 10rem 0 0;
    border: 8px solid rgba(255,255,255,0.12);
    margin: 1rem;
    box-sizing: border-box;
    box-shadow: 2px 2px 22px 10px rgba(121, 140, 218, 0.242);
    object-fit: cover 5px;
}

.About-2-v-container{
    gap: 2rem;
}

.About-2-image-container>img{
    width: 100%;
    height: 100%;
   
}

.About-2-v-container>div{
    flex:1;
}

.About-2-v-right{
    gap: 0.3rem;
}

.about-2-LineHeight{
    line-height:1.8;
}