.ai-map-wrapper {
    background-color: rgba(65, 144, 218, 0.292);
  }
  

  .ai-map-left,
  .ai-map-right {
    flex: 1;
  }
  

  .contact-form {
    background: #dee5f957;
    padding:15px;
    border-radius:0.5rem;
    border: 8px solid rgba(65, 144, 218, 0.203); 
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.427);
    width:80%;
  }
  
  .input-group {
    margin-bottom:5px;
    width: 100%;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
    /* font-weight: bold; */
    color: #000;
  }
  
  .input-group input,
  .input-group textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    background-color: #ffffff;
    transition: border 0.3s ease, box-shadow 0.3s ease;
  }
  
  .input-group input:focus,
  .input-group textarea:focus {
    border: 1px solid #4a90e2;
    box-shadow: 0 0 8px rgba(74, 144, 226, 0.2);
    outline: none;
  }
  
  .input-group textarea {
    resize: vertical;
  }
  
  .cnt-btn {
    width: 100%;
  }
  
  
  .map-v-container{
    width:87%;
    /* height:auto; */
    border-radius:0.5rem;
    border: 6px solid rgba(65, 144, 218, 0);
    background-color: rgba(65, 144, 218, 0);
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.427);
  }

  .map-v-container iframe{
    border: none;
    padding:2px;
    /* border-radius:1rem; */
  }

  .map-heading {
    margin-bottom: 2rem;
  }
  

  
    @media(max-width:640px){
    .ai-map-container{
      flex-direction: column;
    }
    .ai-map-left {
      width:100%;
    }

    .contact-form{
      width: 100%;
      border-radius: 1rem;
    }
    .ai-map-right{
      width: 100%;
     
    }
    .map-v-container{
      width: 100%;
    }
  } 
   
  